@import "fonts.css";
 * {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    color: black;
    height: 100%;
}
p {
    font-family: Galaxie;
    font-size: 1.25em;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    font: 20vmin/1 HUGEAvantGardeBold;
    letter-spacing: -0.06em;
    text-align: center;
}
h2 {
    top: 50px;
    left: 24px;
    margin: 25px 24px;
    text-align: left;
    color: black;
    font: 12vw HUGEAvantGardeBold;
}
#hugeLogo {
    width: 60px;
    height: 72px;
    position: absolute;
    z-index: 3;
    line-height: 72px;
    left: -100px;
    background-image: url('../images/HUGE-white.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s ease-in-out;
}
.mainHeader {
    position: absolute;
    width: 100%;
    height: 72px;
    margin: auto;
    z-index: 1;
    color: white;
    background-color: #ec008c;
}
nav {
    width: 100%;
    text-align: left;
    padding-top: 12px;
}
nav a {
    color: black;
    display: block;
    font-family: HUGEAvantGardeBold;
    line-height: 48px;
    padding-left: 24px;
    font-size: 1.25em;
    letter-spacing: .03em;
}
nav ul li a:hover {
    color: #ec008c;
    background-color: #eee;
}
nav ul ul {
    clear: both;
    max-height: 0;
    overflow: hidden;
    background-color: white;
    transition: all 0.3s linear;
}
nav ul ul li {
    display: block;
}
nav ul ul li a {
    font-size: .9em;
    font-family: Galaxie;
}
.text {
    padding: 25px 24px;
    text-align: left;
    width: none;
}
.image {
    margin-top: 72px;
}
.image img {
    margin-bottom: 25px;
    width: 100%;
    min-width: 100%;
}
.dropdownToggle {
    position: absolute;
    z-index: 3;
    left: 0;
    transition: all .3s ease-in-out;
    width: 72px;
    height: 72px;
    background-image: url("/images/toggle-open.svg");
}
.menu {
    width: 300px;
    height: 100%;
    position: absolute;
    left: -300px;
    top: 72px;
    background-color: white;
    z-index: 4;
    transition: all .3s ease-in-out;
}
#menu-toggle {
    display: none;
}
#menu-toggle:checked ~ .menu {
    position: absolute;
    left: 0;
}
#menu-toggle:checked ~ .dropdownToggle {
    position: absolute;
    left: calc(100% - 72px);
    background-image: url("/images/toggle-close.svg");
}
#menu-toggle:checked ~ .mainHeader #hugeLogo {
    position: absolute;
    left: 24px;
}
#menu-toggle:checked ~ #content {
    background-color: rgba(0, 0, 0, 0.75);
}
@media screen and (min-width: 768px) {
    h2 {
        height: 35%;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        color: white;
        font: 8vw HUGEAvantGardeBold;
    }
    nav {
        padding-top: 0px;
        text-align: left;
    }
    nav ul {
        white-space: nowrap;
        overflow-x: hidden;
    }
    nav ul li {
        display: inline-block;
    }
    nav ul li:hover {
        background-color: white;
    }
    nav ul li a {
        color: white;
        padding: 0 24px;
        line-height: 72px;
        display: block;
    }
    nav ul li a:hover {
        color: #ec008c;
        background-color: white;
    }
    nav ul ul {
        position: absolute;
        background-color: white;
        min-width: 240px;
        transition: all 0s;
    }
    nav ul ul li {
        height: 48px;
        padding: 0 0;
    }
    nav ul ul li a {
        color: #ec008c;
        line-height: 48px;
    }
    nav ul ul li:hover {
        background-color: #eee;
    }
    nav ul li:hover ul li a:hover {
        color: #ec008c;
    }
    nav ul li:hover ul li a,
    visited {
        color: black;
    }
    #hugeLogo {
        position: absolute;
        line-height: 72px;
        left: 24px;
        transition: none;
    }
    .text {
        margin: 60px auto;
        text-align: left;
        position: relative;
        width: 960px;
    }
    .image {
        position: relative;
        margin-top: 0px;
        top: 72px;
    }
    
    .menu {
        background-color: transparent;
        width: calc(100% - 132px);
        height: auto;
        position: absolute;
        left: 132px;
        top: 0px;
        z-index: 3;
        transition: none;
    }
    #menu-toggle:checked ~ .menu {
        position: absolute;
        left: 132px;
    }
    .clicked {
        height: auto;
    }
    .active {
        background-color: white;
    }
    .active a {
        color: #ec008c;
    }
    .active ul a {
        color: black;
    }
    .dropdownToggle {
        display: none;
    }
}